#content {
  grid-area: content;
  display: grid;
  grid-template-areas: '. page-title .' '. project-list .' '. . .';
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr 15fr 1fr;
  margin: 15px 0px;
}

.title {
  border-bottom: 1px solid var(--separator);
}

#page-title {
  grid-area: page-title;
}

#project-list {
  grid-area: project-list;
  padding: 0px 20px;
}

.project-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project {
  max-width: 710px;
  margin: 0 auto;
}

.project-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
  background: cornflowerblue;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.project-link:hover {
  background: #0041c2;
  color: white;
}
