$max-mobile-width: 766px;
$page-padding-horizontal: 5%;
$primary-color: royalblue;
$highlight-color: lightskyblue;

// Catppuccin themes
$latte-text: #4c4f69;
$latte-base: #eff1f5;
$mocha-text: #cdd6f4;
$mocha-base: #1e1e2e;
