#content{
	p:has(img) {
		display: flex;
		justify-content: center;
	}

	:not(picture) > img {
		max-width: 70%;
	}

	a:has(> img) {
		max-width: 70%;

		img {
			max-width: 100%;
		}
	}

	p:has(a[download]) {
		display: flex;
		justify-content: center;
	}

	a[download] {
		border-radius: 50px;
		border: var(--border-width) solid;
		padding: 10px;
	}
}
