#content{
	& > ul > li {
		margin: 10px 0;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		padding: 0;
		justify-content: space-around;
	}

	li {
		max-width: 200px;
		width: 100%;
		margin: 0;

		p {
			text-align: center;
			margin: 0;
		}

		img {
			margin: 10px 0;
			max-width: 100px;
			max-height: 100px;
			border-radius: 5px;
		}

		svg {
			margin: 10px 0;
			max-width: 100px;
			max-height: 100px;
			border-radius: 5px;
		}
	}
}
