:root {
	color-scheme: light dark;
	--primary-color: royalblue;
	--neutral-color: gray;
	--page-padding-horizontal: 5%;
	--border-width: 2px;

	@media (prefers-color-scheme: dark) {
		--primary-color: lightskyblue;
	}
}

html {
	height: 100%;
	font-family: ui-rounded, system-ui, sans-serif;
	font-variant-emoji: emoji;
}

body {
	margin: 0;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

p {
	line-height: 150%;
}

a {
	transition: color 0.2s, background 0.2s;
	text-decoration: none;
	color: var(--primary-color);

	@media(hover: hover) {
		&:hover {
			color: color-mix(in oklab, var(--primary-color), transparent);
		}
	}
}

ul {
	margin: 0;

	li {
		margin: 10px 0;
	}
}

#content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin: 0 auto;
	max-width: calc(100% - var(--page-padding-horizontal) * 2);
}

.svg-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.resize-image-source {
	display: flex;
	justify-content: center;
	align-items: center;
}
