#content {
	p:has(img) {
		display: flex;
		justify-content: center;
	}

	img {
		max-width: 70%;
	}
}

.taxonomies {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0;
	margin: 0;

	li {
		display: flex;

		a {
			padding: 15px;
		}
	}

	/* li { */
		/* margin: 15px; */
	/* } */
}
