@use 'variables';

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px variables.$page-padding-horizontal;
	border-top: 1px solid canvastext;

	@media(max-width: variables.$max-mobile-width) {
		flex-direction: column-reverse;
	}

	svg {
		fill: canvastext;

		@media(hover: hover) {
			&:hover {
				fill: gray;
			}
		}
	}

	a {
		display: flex;
		flex-shrink: 1;
	}

	p {
		font-size: 12px;
		text-align: center;
	}
}
