nav {
	display: flex;
	justify-content: center;

	ul {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		padding: 0;
		border-bottom: var(--border-width) solid var(--primary-color);
	}

	li {
		display: flex;
		justify-content: center;
		margin: 15px;
	}
}
