nav {
	display: flex;
	justify-content: center;
	background: var(--primary-color);

	ul {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	li {
		display: flex;
		justify-content: center;
	}

	a {
		color: white;
		margin: 15px;
	}
}
