:root {
	// Catppuccin latte text
	--syntax-color: #4c4f69;
	// Catppuccin latte base
	--syntax-background-color: #eff1f5;

	@media (prefers-color-scheme: dark) {
		// Catppuccin mocha text
		--syntax-color: #cdd6f4;
		// Catppuccin mocha base
		--syntax-background-color: #1e1e2e;
	}
}

pre {
	padding: 10px;
	overflow: auto;
	tab-size: 2;
	border-radius: 5px;
}

:not(pre) > code {
	color: var(--syntax-color);
	background-color: var(--syntax-background-color);
	border-radius: 5px;
	padding: 1px 5px;
}

.giallo-l {
	display: inline-block;
	min-height: 1lh;
	width: 100%;
}

.giallo-ln {
	display: inline-block;
	user-select: none;
	margin-right: 0.4em;
	padding: 0.4em;
	min-width: 3ch;
	text-align: right;
	opacity: 0.8;
}
