@use 'variables';

:root {
	--syntax-color: #{variables.$latte-text};
	--syntax-background-color: #{variables.$latte-base};

	@media (prefers-color-scheme: dark) {
		--syntax-color: #{variables.$mocha-text};
		--syntax-background-color: #{variables.$mocha-base};
	}
}

pre {
	padding: 10px;
	overflow: auto;
	tab-size: 2;
	border-radius: 5px;
}

:not(pre) > code {
	color: var(--syntax-color);
	background-color: var(--syntax-background-color);
	border-radius: 5px;
	padding: 1px 5px;
}

.giallo-l {
	display: inline-block;
	min-height: 1lh;
	width: 100%;
}

.giallo-ln {
	display: inline-block;
	user-select: none;
	margin-right: 0.4em;
	padding: 0.4em;
	min-width: 3ch;
	text-align: right;
	opacity: 0.8;
}
