:root {
  color-scheme: light dark;
  --separator: black;
  --link: #416ed2;
  --svg-fill: black;
  --text: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --separator: white;
    --link: #5ac8fa;
    --svg-fill: white;
    --text: white;
  }
}

html {
  height: 100%;
  font-family: Menlo;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: grid;
  grid-template-areas: 'nav' 'content' 'footer';
  grid-template-rows: auto 1fr auto;
}

a {
  color: var(--link);
}

nav {
  grid-area: nav;
  background: royalblue;
}

#nav-links {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}

#nav-links li:not(#home) {
  display: flex;
  justify-content: center;
}

#nav-links li a {
  color: white;
  text-decoration: none;
  width: 100%;
}

#nav-links li:not(#home) a {
  padding: 15px;
}

#home {
  display: grid;
  grid-template-areas: 'home-link';
  grid-template-columns: auto;
  margin-left: 50px;
}

#home-link {
  grid-area: home-link;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-link a {
  padding: 15px;
}

#mobile-toggle {
  grid-area: toggle;
  cursor: pointer;
  display: none;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}

#footer {
  grid-area: footer;
  padding: 20px;
  border-top: 1px solid var(--separator);
  display: flex;
  justify-content: space-between;
}

#footer-text {
  font-size: 12px;
}

#footer-links {
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center;
}

#footer-links li {
  padding: 0 10px;
}

.icon svg {
  display: block;
  width: 32px;
  height: 100%;
  fill: var(--svg-fill);
}

@media (pointer: fine) {
  #nav-links li a:hover {
    color: lightskyblue;
  }

  .icon svg:hover {
    fill: grey;
  }
}

@media (max-width: 766px) {
  #nav-links {
    flex-direction: column;
  }

  #nav-links li:not(#home) {
    display: none;
    margin: 0 20px;
    border-top: 1px solid cornflowerblue;
  }

  #home {
    display: grid;
    grid-template-areas: '. home-link toggle';
    grid-template-columns: 1fr 7fr 1fr;
    text-align: center;
    align-items: center;
    margin: 0;
  }

  #mobile-toggle {
    display: flex;
  }

  #footer {
    flex-direction: column-reverse;
  }

  #footer-text {
    text-align: center;
  }
}
