<head>
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/16x16.png">
	<link rel="icon" type="image/png" sizes="48x48" href="/favicon/48x48.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/favicon/192x192.png">
	<link rel="icon" type="image/png" sizes="167x167" href="/favicon/167x167.png">
	<link rel="icon" type="image/png" sizes="180x180" href="/favicon/180x180.png">
	<link rel="icon" type="image/svg+xml" href="/favicon.svg">
	<link rel="stylesheet" type="text/css" href="/giallo-dark.css" media="(prefers-color-scheme: dark)">
  <link rel="stylesheet" type="text/css" href="/giallo-light.css" media="(prefers-color-scheme: light)">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">

	{%- set stylesheets = ["/base.css", "/syntax.css"] -%}

	{%- if not page.extra.hide_header -%}
		{%- set stylesheets = stylesheets | concat(with="/header.css") -%}
	{%- endif -%}

	{%- if not page.extra.hide_footer -%}
		{%- set stylesheets = stylesheets | concat(with="/footer.css") -%}
	{%- endif -%}

	{%- for stylesheet in page.extra.stylesheets | default(value=[]) -%}
		{%- set_global stylesheets = stylesheets | concat(with=stylesheet) -%}
	{%- endfor -%}

	{%- for stylesheet in stylesheets -%}
		<link rel="stylesheet" type="text/css" href="{{ stylesheet | safe }}">
	{%- endfor -%}

	{%- set scripts = [] -%}

	{%- for asset in page.assets -%}
		{%- if asset is ending_with(".js") -%}
			{%- set_global scripts = scripts | concat(with=asset) -%}
		{%- endif -%}
	{%- endfor -%}

	{%- for script in scripts -%}
		<script src="{{ script | safe }}"></script>
	{%- endfor -%}

	<title>{{ page.title }}</title>
</head>
