#content {
  grid-area: content;
  display: grid;
  grid-template-areas: '. about-title .' '. intro .' '. . .';
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr 15fr 1fr;
  padding: 15px 0;
}

#about-title {
  grid-area: about-title;
  border-bottom: 1px solid var(--separator);
}

#intro {
  grid-area: intro;
  display: flex;
}

#intro-photo {
  border-radius: 180px;
  border: 1px solid var(--separator);
  overflow: hidden;
  width: 250px;
  height: 250px;
  flex-shrink: 0;
}

#intro img {
  width: 100%;
  height: 100%;
}

#intro-info {
  margin: 0 50px;
}

@media (max-width: 766px) {
  #intro {
    flex-direction: column;
    align-items: center;
  }

  #intro-info {
    margin: 20px 0;
  }
}
