#content {
  grid-area: content;
  display: grid;
  grid-template-areas: '. page-title .' '. about .' '. code-list .' '. . .';
  grid-template-rows: auto auto auto 1fr;
  grid-template-columns: 1fr 15fr 1fr;
  padding: 15px 0;
}

.title {
  border-bottom: 1px solid var(--separator);
}

#page-title {
  grid-area: page-title;
}

#about {
  grid-area: about;
  padding: 0 20px 20px 20px;
}

#code-list {
  grid-area: code-list;
  padding: 0 20px;
}

.dropdown-toggle {
  cursor: pointer;
  color: var(--text);
}

.code {
  max-width: 710px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.code-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
  background: cornflowerblue;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

@media(min-width: 767px) and (pointer: fine) {
  .code-link:hover {
    background: #0041c2;
  }
}
