#content {
  grid-area: content;
  display: grid;
  grid-template-areas: '. page-title .' '. about .' '. art-list .' '. . .';
  grid-template-rows: auto auto auto 1fr;
  grid-template-columns: 1fr 15fr 1fr;
  padding: 15px 0;
}

.title {
  border-bottom: 1px solid var(--separator);
}

#page-title {
  grid-area: page-title;
}

#about {
  grid-area: about;
  padding: 0 20px 20px 20px;
}

#art-list {
  grid-area: art-list;
  padding: 0 20px;
}

.art {
  max-width: 710px;
  margin: 0 auto;
}
