#content {
  grid-area: content;
  display: grid;
  grid-template-areas: '. page-title .' '. art-list .' '. . .';
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr 15fr 1fr;
  padding: 15px 0;
}

.title {
  border-bottom: 1px solid var(--separator);
}

#page-title {
  grid-area: page-title;
}

#art-list {
  grid-area: art-list;
  padding: 0 20px;
}

.art {
  max-width: 710px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.art-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
  background: cornflowerblue;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

@media(pointer: fine) {
  .art-link:hover {
    background: #0041c2;
  }
}
