<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/assets/styles/main.css">
		<link rel="stylesheet" href="/assets/styles/syntax.css">
		{% if page.css %}
			<link rel="stylesheet" href="{{ page.css }}">
		{% endif %}
		<link rel="shortcut icon" href="/assets/images/main/logo.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% if page.js %}
			<script src="{{ page.js }}"></script>
		{% endif %}
		<title>{{ page.title }}</title>
	</head>
	<body {% if page.onresize %} onresize="{{ page.onresize }}" {% endif %} {% if page.onload %} onload="{{ page.onload }}" {% endif %}>
		<header>
			<nav>
				<a href="/">Home</a>
				<a href="/code">Code</a>
				<a href="/devlogs">Devlogs</a>
				<a href="/art">Art</a>
			</nav>
		</header>
		<div id="content">
