<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/assets/styles/main.css">
		<link rel="stylesheet" href="/assets/styles/syntax.css">
		{% if page.css %}
			<link rel="stylesheet" href="{{ page.css }}">
		{% endif %}
		<link rel="shortcut icon" href="/assets/images/main/logo.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="/assets/scripts/main.js"></script>
		{% if page.js %}
			<script src="{{ page.js }}"></script>
		{% endif %}
		<title>{{ page.title }}</title>
	</head>
	<body {% if page.onresize %} onresize="{{ page.onresize }}" {% endif %} {% if page.onload %} onload="{{ page.onload }}" {% endif %}>
		<header>
			<nav>
				<div id="home-link-group" class="nav-link-group">
					<a class="nav-link" href="/">Home</a>
					<button id="mobile-toggle" class="nav-link" onclick="toggleNav()">&#9776;</button>
				</div>
				<div class="nav-link-group">
					<a class="nav-link" href="/code">Code</a>
				</div>
				<div class="nav-link-group">
					<a class="nav-link" href="/devlogs">Devlogs</a>
				</div>
				<div class="nav-link-group">
					<a class="nav-link" href="/art">Art</a>
				</div>
			</nav>
		</header>
		<div id="content">
