#content {
  grid-area: content;
  display: grid;
  grid-template-areas: '. page-title .' '. app-info .' '. privacy-title .' '. privacy .' '. . .';
  grid-template-rows: auto auto auto 1fr;
  grid-template-columns: 1fr 15fr 1fr;
  padding: 15px 0;
}

.title {
  border-bottom: 1px solid var(--separator);
}

#page-title {
  grid-area: page-title;
}

#app-info {
  grid-area: app-info;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.description {
  max-width: 710px;
  font-family: ArialRoundedMTBold;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
}

#device-image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  width: 60%;
  height: auto;
}

#privacy-title {
  grid-area: privacy-title;
}

#privacy-title-link {
  text-decoration: none;
  color: var(--text);
}

#privacy {
  grid-area: privacy;
  padding: 0 20px;
}

@media (max-width: 766px) {
  #device-image {
    width: 100%;
  }
}
