.title {
  border-bottom: 1px solid var(--separator);
}

#calendar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: crimson;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  height: 200px;
  margin: 20px 20px;
}

#snow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

@media(pointer: fine) {
  .day:hover {
    background: red;
  }
}
