.title {
  border-bottom: 1px solid var(--separator);
}

#artwork {
  display: flex;
  justify-content: center;
}

#artwork img {
  width: 50%;
  height: 50%;
}

@media (max-width: 766px) {
  #artwork img {
  	width: 100%;
    height: 100%;
  }
}
