.title {
  border-bottom: 1px solid var(--separator);
}

#app-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.description {
  max-width: 710px;
  font-family: ArialRoundedMTBold;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
}

#device-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

#device-image img {
  max-width: 1000px;
  width: 60%;
  height: auto;
}

#privacy-title-link {
  text-decoration: none;
  color: var(--text);
}

#privacy {
  padding: 0 20px;
}

@media (max-width: 766px) {
  #device-image img {
    width: 100%;
  }
}
