:root {
  color-scheme: light dark;
  --bg: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1e1e1e;
  }
}

#content {
  grid-area: content;
  display: grid;
  grid-template-areas: '. controls .' '. result .' '. . .';
  grid-template-rows: auto auto auto 1fr;
  grid-template-columns: 1fr 15fr 1fr;
  padding: 15px 0;
}

#controls {
  background: var(--bg);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  grid-area: controls;
}

.title {
  border-bottom: 1px solid var(--separator);
}

#param-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#param-form input {
  height: 100%;
}
/*
#inputs {
  display: flex;
  align-items: center;
  height: 30px;
}

.color-input {
  width: 100px;
  margin-right: 20px;
}

#steps {
  font-family: Menlo;
  font-size: medium;
  text-align: center;
  border-radius: 5px;
  border: 1px solid var(--separator);
  padding: 0 10px;
}
*/
#submit {
  background: cornflowerblue;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 10px 40px;
}

#result {
  grid-area: result;
  display: flex;
  justify-content: center;
}

#mtn {
  border-radius: 5px;
  border: 0.1px solid black;
  width: 80%;
}

@media(pointer: fine) {
  #submit:hover {
    background: #0041c2;
  }
}
