#content {
  grid-area: content;
  display: grid;
  grid-template-areas: '. page-title .' '. calendar .' '. . .';
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr 15fr 1fr;
  padding: 15px 0;
}

.title {
  border-bottom: 1px solid var(--separator);
}

#page-title {
  grid-area: page-title;
}

#calendar {
  grid-area: calendar;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: crimson;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  height: 200px;
  margin: 20px 20px;
}

.task {

}

@media(pointer: fine) {
  .day:hover {
    background: red;
  }
}



.app {
  max-width: 710px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.app-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
  background: cornflowerblue;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

@media(pointer: fine) {
  .app-link:hover {
    background: #0041c2;
  }
}
