name: Build
on: workflow_call
permissions: {}
jobs:
  build:
    runs-on: ubuntu-24.04-arm
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - uses: ./.github/actions/setup-nix
    - name: Build site
      run: nix develop .#build -c make build
    - name: Upload site
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: site
        path: public
        include-hidden-files: true
        if-no-files-found: error
